{
    "env": {
        "build": {
            "presets": [
              "react",
              "env",
              "stage-0"
            ],
            "plugins": [
              "add-module-exports",
              "system-import-transformer",
              ["transform-runtime", {
                "moduleName": "reshow-runtime",
                "polyfill": false,
                "regenerator": false
                }
              ],
              "transform-react-constant-elements"
            ]
        },
        "es": {
            "presets": [
              ["env", {"loose": true, "modules": false}],
              "react",
              "stage-0"
            ],
            "plugins": [
              ["transform-runtime", {
                "moduleName": "reshow-runtime/es",
                "polyfill": false,
                "regenerator": false
                }
              ],
              "transform-react-constant-elements"
            ]
        }
    }
}
