{
    "env": {
        "build": {
            "presets": [
              "react",
              "env",
              "stage-0"
            ],
            "plugins": [
              "add-module-exports",
              "transform-react-constant-elements"
            ]
        },
        "es": {
            "presets": [
              ["env", {"loose": true, "modules": false}],
              "react",
              "stage-0"
            ],
            "plugins": [
              "transform-react-constant-elements"
            ]
        }
    }
}
